In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
subdf = df[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

In [5]:
subdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [6]:
subdf['Age'] = subdf['Age'].fillna(subdf['Age'].mean())
subdf['Age'] = subdf['Age'].astype('int64')

C:\Users\louis\AppData\Local\Temp\ipykernel_9624\2053524028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf['Age'] = subdf['Age'].fillna(subdf['Age'].mean())
C:\Users\louis\AppData\Local\Temp\ipykernel_9624\2053524028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf['Age'] = subdf['Age'].astype('int64')

In [7]:
le = LabelEncoder()
subdf['Sex'] = le.fit_transform(subdf['Sex'])

C:\Users\louis\AppData\Local\Temp\ipykernel_9624\37612558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf['Sex'] = le.fit_transform(subdf['Sex'])

In [8]:
subdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int32
 2   Age       891 non-null    int64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(1), int32(1), int64(3)
memory usage: 31.4 KB

In [9]:
subdf.duplicated().sum()

129

In [10]:
subdf.drop_duplicates(inplace=True)

C:\Users\louis\AppData\Local\Temp\ipykernel_9624\327117597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf.drop_duplicates(inplace=True)

In [11]:
subdf.shape

(762, 5)

In [12]:
subdf['Pclass'].value_counts()

3    390
1    212
2    160
Name: Pclass, dtype: int64

In [13]:
subdf['Sex'].value_counts()

1    475
0    287
Name: Sex, dtype: int64

In [14]:
le.classes_

array(['female', 'male'], dtype=object)

In [15]:
subdf.groupby('Survived').mean()

            Pclass       Sex        Age       Fare
Survived
0         2.476404  0.831461  30.613483  24.257330
1         1.892744  0.331230  28.438486  50.743587

In [16]:
subdf.corrwith(subdf['Survived'])

Pclass     -0.335456
Sex        -0.508853
Age        -0.077537
Fare        0.247689
Survived    1.000000
dtype: float64

Conclusion: <br>
1. First Class Passengers have a better chance of survival. 
2. Men sacrifice their lives for their wives.
3. Age has nothing to do with survival rates.
4. People paying more expensive fares, which points better suite class, have a higher priority to be saved.

In [17]:
X_train, X_test, y_train, y_test = train_test_split(subdf.drop(['Survived', 'Age'], axis=1), subdf['Survived'],
                                                    test_size=0.25, random_state=42)

In [20]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [21]:
model.score(X_test, y_test)

0.7696335078534031